@model List<CourtDashboardViewModel>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~\css\all.min.css" rel="stylesheet" />
<style>

    body {
        /* background: #f5f7fb; */
        font-family: 'Segoe UI',sans-serif;
    }


</style>

<div class="dashboard-wrapper">

    <h1 class="page-title">
        WELCOME TO RCSAT
    </h1>

    @foreach (var court in Model)
    {

        <div class="section-title">
            <span>@court.CourtName.ToUpper()</span>
        </div>

        <div class="row g-4 mb-5">

            <div class="col-lg-3 col-md-6">

                <div class="dashboard-card blue">

                    <div class="card-body">

                        <div class="icon-box">
                            <i class="bi bi-reception-4"></i>
                        </div>

                        <div>
                            <div class="card-number">
                                @court.RegisteredCases
                            </div>

                            <div class="card-text">
                                Total Registration
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">

                        <a href="#">View All</a>

                        <i class="fas fa-arrow-right"></i>

                    </div>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="dashboard-card red">

                    <div class="card-body">

                        <div class="icon-box">
                            <i class="bi bi-reception-3"></i>
                        </div>

                        <div>
                            <div class="card-number">
                                @court.PendingCases
                            </div>

                            <div class="card-text">
                                Total Pending Cases
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">

                        <a href="#">View All</a>

                        <i class="fas fa-arrow-right"></i>

                    </div>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="dashboard-card green">

                    <div class="card-body">

                        <div class="icon-box">
                            <i class="bi bi-reception-2"></i>
                        </div>

                        <div>
                            <div class="card-number">
                                @court.Decided
                            </div>

                            <div class="card-text">
                                Total Decided Cases
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">

                        <a href="#">View All</a>

                        <i class="fas fa-arrow-right"></i>

                    </div>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="dashboard-card cyan">

                    <div class="card-body">

                        <div class="icon-box">
                            <i class="bi bi-person-fill"></i>
                        </div>

                        <div>
                            <div class="card-number">
                                @court.Users
                            </div>

                            <div class="card-text">
                                Total Users
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">

                        <a href="#">View All</a>

                        <i class="fas fa-arrow-right"></i>

                    </div>

                </div>

            </div>

        </div>

    }

</div>