@model List<GCMS.WEB.Models.DistrictMaster>

@{
    ViewData["Title"] = "District Master";
}

<div class="container bg-light rounded-4 shadow p-4 mb-5">

    <!-- Header -->
    <div class="d-flex justify-content-between mb-3 border-bottom border-3 pb-3">

        <h3>District Master</h3>

        <div class="d-flex gap-2">
            <button type="button" class="btn btn-primary" id="btnAddDistrict">
                Add District
            </button>
            <button type="button" class="btn btn-secondary" id="btnPrint">
                <i class="bi bi-printer-fill"></i>
            </button>
            <button type="button" class="btn btn-success" id="btnExcel">
                <i class="bi bi-file-earmark-excel"></i>
            </button>
        </div>

    </div>

    <!-- Data Table -->
    <table id="tblDistrict"
           class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>District Name</th>
                <th>District Code</th>
                <th>State</th>
                <th width="180">Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.DistrictName</td>
                    <td>@item.DistrictCode</td>
                    <td>@item.StateName</td>

                    <td>
                        <button type="button"
                                class="btn btn-warning btn-sm edit"
                                data-id="@item.DistrictMastId">
                            Edit
                        </button>

                        <button type="button"
                                class="btn btn-danger btn-sm delete"
                                data-id="@item.DistrictMastId">
                            Delete
                        </button>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>

<!-- ========== MODAL ========== -->
<div class="modal fade" id="districtModal" tabindex="-1">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    District Master
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">

                <input type="hidden"
                       id="DistrictMastId" />

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>State</label>

                        <select id="StateName"
                                class="form-select">

                            <option value="">
                                Select State
                            </option>

                            @foreach (var state in ViewBag.StateList)
                            {
                                <option value="@state.StateMastId">
                                    @state.StateName
                                </option>
                            }

                        </select>
                        <span id="errState" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Division</label>

                        <select id="DivisionName"
                                class="form-select">

                            <option value="">
                                Select State
                            </option>

                            @foreach (var division in ViewBag.StateList)
                            {
                                <option value="@division.StateMastId">
                                    @division.StateName
                                </option>
                            }

                        </select>
                        <span id="errDivision" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>District Name</label>

                        <input type="text"
                               id="DistrictName"
                               class="form-control" />
                        <span id="errDistName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>District Code</label>

                        <input type="text"
                               id="DistrictCode"
                               class="form-control" />
                        <span id="errDistCode" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>District Name EMG</label>

                        <input type="text"
                               id="DistNameEmg"
                               class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label>District Name HinEng</label>

                        <input type="text"
                               id="DistNameHinEng"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="InActive">
                            <label class="form-check-label">Disable</label>
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>

                <button type="button"
                        class="btn btn-success"
                        id="btnSave">
                    Save
                </button>

            </div>

        </div>

    </div>
</div>

@section Scripts {
    <script>
                // ── Init ─────────────────────────────────────────────
        $(document).ready(function() {

            $('#tblDistrict').DataTable({
                dom: 'lBfrtip',

                responsive: true,
                autoWidth: false,

                pageLength: 10,

                lengthMenu: [
                    [10, 25, 50, 100],
                    [10, 25, 50, 100]
                ],

                paging: true,
                searching: true,
                ordering: true,
                info: true,

                columnDefs: [{
                        responsivePriority: 1,
                        targets: 3
                    },
                    {
                        responsivePriority: 2,
                        targets: 0
                    }
                ],

                buttons: [{
                        extend: 'print',
                        title: 'District Master'
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'District Master'
                    }
                ]
            });

            $('.dt-buttons').hide();
        });

        $("#btnPrint").click(function() {

            window.print();

        });

        $("#btnExcel").click(function() {

            let table = document.getElementById("tblState");

            let html = table.outerHTML;

            let url = 'data:application/vnd.ms-excel,' +
                encodeURIComponent(html);

            let a = document.createElement('a');

            a.href = url;
            a.download = 'StateMaster.xls';

            a.click();

        });

        var stateModal = new bootstrap.Modal(
            document.getElementById('districtModal')
        );


        // ── Add State ─────────────────────────────────────────
         $("#btnAddDistrict").click(function() {
            $("#DistrictMastId").val('');
            $("#DistrictName").val('');
            $("#DistrictCode").val('');
            $("#StateName").val('');

            districtModal.show();
        });
        var districtModal =
            new bootstrap.Modal(
                document.getElementById('districtModal'));

        $("#btnAddDistrict").click(function() {

            $("#DistrictMastId").val('');
            $("#DistrictName").val('');
            $("#DistrictCode").val('');
            $("#StateName").val('');

            districtModal.show();

        });

        $(document).on("click", ".edit", function() {

            var id = $(this).data("id");

            $.get('/Master/GetDistrict', {
                    id: id
                },
                function(data) {

                    $("#DistrictMastId")
                        .val(data.districtMastId);

                    $("#DistrictName")
                        .val(data.districtName);

                    $("#DistrictCode")
                        .val(data.districtCode);

                    $("#StateName")
                        .val(data.stateName);

                    $("#DistAbr")
                        .val(data.distAbr);

                    $("#DistNameEmg")
                        .val(data.distNameEmg);

                    $("#DistNameHinEng")
                        .val(data.distNameHinEng);

                    districtModal.show();
                });
        });

        $("#btnSave").click(function() {

            $.ajax({

                url: '/Master/SaveDistrict',

                type: 'POST',

                data: {

                    DistrictMastId: $("#DistrictMastId").val(),

                    DistrictName: $("#DistrictName").val(),

                    DistrictCode: $("#DistrictCode").val(),

                    StateName: $("#StateName").val(),

                    DistAbr: $("#DistAbr").val(),

                    DistNameEmg: $("#DistNameEmg").val(),

                    DistNameHinEng: $("#DistNameHinEng").val()
                },

                success: function(r) {

                    if (r.success) {

                        location.reload();
                    } else {

                        alert(r.message);
                    }
                }
            });
        });

        $(document).on("click", ".delete", function() {

            if (!confirm("Delete District ?"))
                return;

            $.post('/Master/DeleteDistrict', {
                    id: $(this).data("id")
                },
                function(r) {

                    if (r.success) {

                        location.reload();
                    }
                });
        });
    </script>
}